{% extends 'base.html.twig' %}

{% block title %}ChoosIt{% endblock %}

{% block body %}
 <div class="jumbotron text-center">
   <h1>ChoosIt</h1>
   <p>Choosit agence digital depuis 1998 - Création de site internet responsive à Montpellier. Expert Drupal, Prestashop et Wordpress.</p>
  </div>
{% endblock %}