@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
.image-style {
  border-radius: 4px;
  width: 150px;
}
.image-style-thumb {
  border-radius: 4px;
  width: 40px;
}
