{% extends 'base.html.twig' %}

{% block title %}Catalogue de Produits{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Catalogue de Produits</h3>
    <div class="row flex">

            {% for product in products %}
                <div class="col-3">
                    <div class="car" style="background-color: #F5F5F5">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{ product.nom }}</a>
                            </h5>
                            <p class="card-text">
                                {{ product.description}}
                            </p>
                            <div class="text-danger" style="font-size: 2em">{{ product.getFormatPrice }} €</div>
                            <p class="card-text">
                                <a class="btn btn-primary" role="button"  href="{{ path('product.show', {id: product.id , slug: product.slug}) }}">voir la fiche</a>
                            </p>
                        </div>
                    </div></br>
                </div>

            {% endfor %}


    </div>
    </div>

{% endblock %}